.room_card {
  border: 1px solid var(--gray);
  border-radius: 10px;
}
.room_card > div:nth-child(1) {
  width: 100%;
}
.room_card > div:nth-child(1) > img {
  width: 100%;
  object-fit: cover !important;
  border-radius: 10px 10px 0 0;
}
.room_card > div:nth-child(2) {
  padding: 16px;
}
.room_card_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.room_card_title > h4 {
  font-size: 18px;
}
.room_card_title > div:nth-child(2) {
  display: flex;
  align-items: center;
}
.room_card_title > div:nth-child(2) > span {
  margin-left: 2px;
  font-size: 13px;
}
.room_card_datetime {
  font-size: 14px;
  margin-bottom: 8px;
}
.room_card_description {
  font-size: 13px;
  font-weight: 100;
  color: var(--secondary);
  margin-bottom: 16px;
}
.room_card_badges {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.room_card_badges > div {
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 100px;
  margin-right: 4px;
}
