.rooms_result_container {
  width: 100%;
  padding: 0 100px;
}
@media only screen and (max-width: 1100px) {
  .rooms_result_container {
    padding: 0 48px;
  }
}
@media only screen and (max-width: 1000px) {
  .rooms_result_container {
    padding: 0 24px;
  }
}
